.App {
  font-family: sans-serif;
  text-align: center;
}

.success {
  color: green;
}

.failure {
  color: darkred;
}

table {
  width: 100%;
}

td,
th {
  text-align: left;
  word-wrap: break-word;
  padding: 0 10px;
}
